<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_joint" params="name">
    <joint name="${name}">
      <command_interface name="position"/>
      <state_interface name="position">
          <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
          <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
          <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  </xacro:macro>

  <xacro:macro name="wxai_ros2_control" params="prefix ip_address use_fake_hardware">

    <ros2_control name="TrossenArmHardwareInterface" type="system">

      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
        </xacro:if>  <!-- use_fake_hardware -->

        <xacro:unless value="${use_fake_hardware}">
          <plugin>trossen_arm_hardware/TrossenArmHardwareInterface</plugin>
          <param name="robot_model">0</param>        <!-- 0: wxai_v0 -->
          <param name="ip_address">${ip_address}</param>
          <param name="update_period">0.1</param>
        </xacro:unless>  <!-- use_fake_hardware -->
      </hardware>

      <xacro:ros2_control_joint name="${prefix}joint_0"/>
      <xacro:ros2_control_joint name="${prefix}joint_1"/>
      <xacro:ros2_control_joint name="${prefix}joint_2"/>
      <xacro:ros2_control_joint name="${prefix}joint_3"/>
      <xacro:ros2_control_joint name="${prefix}joint_4"/>
      <xacro:ros2_control_joint name="${prefix}joint_5"/>
      <xacro:ros2_control_joint name="${prefix}gripper_left"/>
      <xacro:ros2_control_joint name="${prefix}gripper_right"/>
    </ros2_control>

  </xacro:macro>

</robot>
