<?xml version="1.0" encoding="utf-8"?>
<robot name="wxpro" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="robot_model"
    value="wxpro"
    scope="local"/>

  <xacro:macro name="wxpro" params="prefix:=''">

    <xacro:property name="mesh_directory" value="package://trossen_arm_description/meshes/${robot_model}"/>

    <!-- TODO(abhismirai42): ros2_control -->

    <link name="${prefix}base_link">
      <inertial>
        <origin
          xyz="-0.00615208 0.00004245 0.05031879"
          rpy="0 0 0" />
        <mass value="1.01890997"/>
        <inertia
          ixx="0.00159523"
          ixy="0.00000435"
          ixz="-0.00007310"
          iyy="0.00194612"
          iyz="-0.00000116"
          izz="0.00171486"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/base_link.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/base_link.obj"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}link_1">
      <inertial>
        <origin
          xyz="0.00269514 -0.00016097 0.01933509"
          rpy="0 0 0"/>
        <mass value="0.25186508"/>
        <inertia
          ixx="0.00035496"
          ixy="0.00000196"
          ixz="-0.00004191"
          iyy="0.00019037"
          iyz="-0.00000057"
          izz="0.00033701"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_1.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_1.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_0" type="revolute">
      <origin
        xyz="0 0 0.096"
        rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link_1"/>
      <axis xyz="0 0 1"/>
      <limit
        lower="${-radians(180 - 5)}"
        upper="${radians(180 - 5)}"
        effort="27.0"
        velocity="3.375" />
    </joint>

    <link name="${prefix}link_2">
      <inertial>
        <origin
          xyz="-0.10122360 -0.00183082 0.00500847"
          rpy="0 0 0" />
        <mass value="1.73323784"/>
        <inertia
          ixx="0.00124418"
          ixy="0.00018835"
          ixz="0.00080780"
          iyy="0.02572488"
          iyz="-0.00001351"
          izz="0.02574169"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_2.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_2.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_1" type="revolute">
      <origin
        xyz="0.02 0 0.0535"
        rpy="0 0 0" />
      <parent link="${prefix}link_1"/>
      <child link="${prefix}link_2"/>
      <axis xyz="0 1 0"/>
      <limit
        lower="0.0"
        upper="${pi}"
        effort="27.0"
        velocity="3.375" />
    </joint>

    <link name="${prefix}link_3">
      <inertial>
        <origin
          xyz="0.15078963 -0.00011014 0.05540400"
          rpy="0 0 0" />
        <mass value="0.95073232"/>
        <inertia
          ixx="0.00082328"
          ixy="0.00000511"
          ixz="-0.00066824"
          iyy="0.01003685"
          iyz="-0.00000307"
          izz="0.01001162"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_3.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_3.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_2" type="revolute">
      <origin
        xyz="-0.274 0 0.0095"
        rpy="0 0 0" />
      <parent link="${prefix}link_2"/>
      <child link="${prefix}link_3"/>
      <axis xyz="0 -1 0"/>
      <limit
        lower="0.0"
        upper="${3 * pi / 4}"
        effort="27.0"
        velocity="3.375" />
    </joint>

    <link name="${prefix}link_4">
      <inertial>
        <origin
          xyz="0.05224276 -0.00099433 0.05517984"
          rpy="0 0 0" />
        <mass value="0.44927258"/>
        <inertia
          ixx="0.00053844"
          ixy="-0.00002118"
          ixz="-0.00024825"
          iyy="0.00066140"
          iyz="-0.00002265"
          izz="0.00055157"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_4.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_4.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_3" type="revolute">
      <origin
        xyz="0.245 0 0.06"
        rpy="0 0 0" />
      <parent link="${prefix}link_3"/>
      <child link="${prefix}link_4"/>
      <axis xyz="0 -1 0"/>
      <limit
        lower="-${pi / 2}"
        upper="${pi / 2}"
        effort="7.0"
        velocity="7.0" />
    </joint>

    <link name="${prefix}link_5">
      <inertial>
        <origin
          xyz="-0.00579062 0.00000000 -0.02720844"
          rpy="0 0 0" />
        <mass value="0.07121851"/>
        <inertia
          ixx="0.00004021"
          ixy="0.00000000"
          ixz="-0.00000666"
          iyy="0.00003792"
          iyz="0.00000000"
          izz="0.00001254"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_5.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_5.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_4" type="revolute">
      <origin
        xyz="0.065 0 0.048"
        rpy="0 0 0" />
      <parent link="${prefix}link_4"/>
      <child link="${prefix}link_5"/>
      <axis xyz="0 0 -1"/>
      <limit
        lower="-${pi / 2}"
        upper="${pi / 2}"
        effort="7.0"
        velocity="7.0" />
    </joint>

    <link name="${prefix}link_6">
      <inertial>
        <origin
          xyz="0.06129266 -0.00002029 -0.00026366"
          rpy="0 0 0" />
        <mass value="0.84380465"/>
        <inertia
          ixx="0.00046982"
          ixy="-0.00000111"
          ixz="-0.00001431"
          iyy="0.00127174"
          iyz="-0.00000064"
          izz="0.00130342"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_6.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/link_6.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}joint_5" type="revolute">
      <origin
        xyz="-0.012 0.0 -0.048"
        rpy="0 0 0" />
      <parent link="${prefix}link_5"/>
      <child link="${prefix}link_6"/>
      <axis xyz="1 0 0"/>
      <limit
        lower="-${pi}"
        upper="${pi}"
        effort="7.0"
        velocity="7.0" />
    </joint>

    <!-- TODO(abhismirai42): verify inertial properties carriage_links, gripper_links and camera_link -->
    <link name="${prefix}carriage_right">
      <inertial>
        <origin
          xyz="-0.01045045 0.03368951 0.01622436"
          rpy="0 0 0" />
        <mass value="0.06140653"/>
        <inertia
          ixx="0.00003532"
          ixy="0.00000483"
          ixz="0.00000179"
          iyy="0.00000891"
          iyz="-0.00000886"
          izz="0.00003018"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/carriage_right.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/carriage_right.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}right_carriage_joint" type="prismatic">
      <origin
        xyz="0.1285 -0.0225 0"
        rpy="0 0 ${pi / 2}" />
      <parent link="${prefix}link_6"/>
      <child link="${prefix}carriage_right"/>
      <mimic joint="${prefix}left_carriage_joint"/>
      <axis xyz="-1 0 0"/>
      <limit
        lower="0.0"
        upper="0.044"
        effort="400.0"
        velocity="0.0875" />
    </joint>

    <link name="${prefix}carriage_left">
      <inertial>
        <origin
          xyz="-0.01045045 -0.03368951 -0.01622436"
          rpy="0 0 0" />
        <mass value="0.06140653"/>
        <inertia
          ixx="0.00003532"
          ixy="-0.00000483"
          ixz="-0.00000179"
          iyy="0.00000891"
          iyz="-0.00000886"
          izz="0.00003018"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/carriage_left.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/carriage_left.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}left_carriage_joint" type="prismatic">
      <origin
        xyz="0.1285 0.0225 0"
        rpy="${pi} 0 -${pi / 2}" />
      <parent link="${prefix}link_6"/>
      <child link="${prefix}carriage_left"/>
      <axis xyz="-1 0 0"/>
      <limit
        lower="0.0"
        upper="0.044"
        effort="400.0"
        velocity="0.0875" />
    </joint>

    <link name="${prefix}gripper_left">
      <inertial>
        <origin
          xyz="0.00275423 0.00000726 0.02059910"
          rpy="0 0 0" />
        <mass value="0.03751074"/>
        <inertia
          ixx="0.00002087"
          ixy="0.00000000"
          ixz="-0.00000338"
          iyy="0.00002044"
          iyz="0.00000000"
          izz="0.00000456"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/gripper_left.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/gripper_left.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}left_gripper_joint" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${pi / 2} 0 0" />
      <parent link="${prefix}carriage_left"/>
      <child link="${prefix}gripper_left"/>
    </joint>

    <link name="${prefix}gripper_right">
      <inertial>
        <origin
          xyz="0.00275423 0.00000726 0.02059910"
          rpy="0 0 0" />
        <mass value="0.03751074"/>
        <inertia
          ixx="0.00002087"
          ixy="0.00000000"
          ixz="-0.00000338"
          iyy="0.00002044"
          iyz="0.00000000"
          izz="0.00000456"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/gripper_right.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/gripper_right.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}right_gripper_joint" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${pi / 2} 0 0" />
      <parent link="${prefix}carriage_right"/>
      <child link="${prefix}gripper_right"/>
    </joint>

    <link name="${prefix}ee_gripper_link" />

    <joint name="${prefix}ee_gripper" type="fixed">
      <origin
        xyz="0.22 0 0"
        rpy="0 0 0" />
      <parent link="${prefix}link_6"/>
      <child link="${prefix}ee_gripper_link"/>
    </joint>

    <link name="${prefix}camera_mount">
      <inertial>
        <origin
          xyz="-0.01095 0 0.03905"
          rpy="0 0 0" />
        <mass value="0.0496"/>
        <inertia
          ixx="0.0000188"
          ixy="0.0"
          ixz="0.0"
          iyy="0.0000105"
          iyz="0.0"
          izz="0.0000123"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/camera_mount.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/camera_mount.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}camera_mount_joint" type="fixed">
      <origin
        xyz="0.104 0 0"
        rpy="0 0 0" />
      <parent link="${prefix}link_6"/>
      <child link="${prefix}camera_mount"/>
    </joint>

    <!-- TODO(abhismirai42): use official zed camera xacro model -->
    <link name="${prefix}camera">
      <inertial>
        <origin
          xyz="-0.00555 0 0.07215"
          rpy="0 0 0" />
        <mass value="0.0695"/>
        <inertia
          ixx="0.0000195"
          ixy="0.0"
          ixz="0.0"
          iyy="0.0000192"
          iyz="0.0"
          izz="0.0000202"/>
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/camera.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_directory}/camera.obj"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}camera_joint" type="fixed">
      <origin
        xyz="-0.002173 0 0.001068"
        rpy="0 0 0" />
      <parent link="${prefix}camera_mount"/>
      <child link="${prefix}camera"/>
    </joint>

  </xacro:macro> <!-- wxpro -->

</robot>
